@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/utilities/text/replacement"

$water: #C8E0F5
$text: #004f6f

body, html
  overflow: hidden

body
  background: $water
  color: $text

h1
  +hide-text
  position: absolute
  background: url(images/title.png) no-repeat center center transparent
  min-height: 63px
  width: 100%

.mirror
  +scaleX(-1)

.party
  +transition-property(left)
  +transition-timing-function(linear)
  left: -10%
  position: absolute
  height: 100px
  width: 77px

  &.launched
    left: 110%

  &.mirror
    left: 110%
    &.launched
      left: -10%

.fast
  +transition-duration(30s)

.medium
  +transition-duration(45s)

.slow
  +transition-duration(60s)

.veryslow
  +transition-duration(120s)

.boat
  background: url(images/boat.png) no-repeat
  bottom: 0
  height: 46px
  left: 0
  position: absolute
  width: 87px

.passenger
  background-repeat: no-repeat
  position: absolute
  z-index: -1
  &:first-child
    left: 0
  &:nth-child(2)
    right: 0

.lovers
  background: url(images/lovers.png)
  height: 37px
  top: 27px
  width: 46px

.murderer
  background: url(images/murderer.png)
  height: 78px
  top: -13px
  width: 51px
  &.mirror:nth-child(1)
    left: -10px
  &:nth-child(2)
    right: -15px
  &.mirror:nth-child(2)
    right: 0

.penguin
  background: url(images/penguin.png)
  height: 34px
  top: 35px
  width: 43px

.robot
  background-image: url(images/robot.png)
  height: 55px
  top: 13px
  width: 42px

.voyeur
  background-image: url(images/voyeur.png)
  height: 40px
  top: 25px
  width: 43px


.debug .party
  outline: 2px dashed lime
  > *
    outline: 2px dashed pink
