@import "compass/css3/transform"

$water: #c6e5f7
$text: #004f6f

body
  background: $water
  color: $text


.boat
  height: 46px
  width: 87px
  background: url(images/boat.png) no-repeat


.mirror
  +scaleX(-1)
